<!DOCTYPE html> 
<html> 
<head> 
    <link rel="stylesheet" href="/assets/style.css"> 
    <title>Contact</title> 
</head> 
<body> 
    <% include partials/nav.ejs %>
    <h1>Contact Us!</h1> 
    <p>Thanks for getting in touch !</p> 
    <p>Your contacted <%= data.who %> in the <%= data.department %> department</p> 
    <p>We will replay to you at <%= data.email %></p> 

    
</body> 
</html>