<!DOCTYPE html> 
<html> 
<head> 
    <link rel="stylesheet" href="/assets/style.css"> 
    <title>Contact</title> 
</head> 
<body> 
    <% include partials/nav.ejs %>
    <h1>Contact</h1> 
    <p>081233343214</p> 
</body> 
</html>