<!DOCTYPE html> 
<html> 
<head> 
    <link rel="stylesheet" href="/assets/style.css"> 
    <title>Page Title</title> 
</head> 
<body> 
    <% include partials/nav.ejs %>
    <h1>Haloo ebiz, welcome to your page</h1> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto deleniti praesentium exercitationem enim velit adipisci quo, magni obcaecati corporis cupiditate in impedit ipsa fuga. Aperiam totam facere eveniet minus distinctio.</p> 
</body> 
</html>